{% extends 'base.html' %}
{% load static %}

{% block title %}
Categorias
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_environments.css' %}">
{% endblock pagestyle %}

{% block content %}
<h2>Categorias de ambientes</h2>

<section>
    {% for category in category_list %}
    <hr>
    <article>
        <header>
            <div class="link-columns">
                <div class="link-column">
                    <a href="{% url 'environments:category-posts' category.id %}">
                        <h3>
                            <span class="material-icons">category </span>
                            {{ category.name }}
                        </h3>
                    </a>
                </div>
            </div>
        </header>
        <p>{{ category.description }}</p>
        {% for post in category.posts.all %}
        <p id="env-name">
            <i>{{ post.environment_name }}</i>
        </p>
        {% endfor %}
    </article>
    {% endfor %}
</section>

{% endblock content %}