{% extends 'base.html' %}
{% load static %}

{% block title %}
Comentar
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_environments.css' %}">
{% endblock pagestyle %}

{% block content %}

<h2>Comentar em {{ post.title }} (<i>{{ post.environment_name }}</i>)</h2>

<form action="{% url 'environments:comment' post.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Comentar</button>
</form>

<p><a href="{% url 'environments:detail' post.id %}">Voltar para a página do post</a></p>
{% endblock content %}