{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.environment_name }}
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_environments.css' %}">
{% endblock pagestyle %}

{% block content %}
<div class ="post">
  <section class="env-data">
    <div class="post-content">
      <div class="post-header">
          <span id="post-author">Descrição do ambiente</span>
          <span id="post-date">Criação: {{ post.creation_date|date:"j/m/y" }} às {{ post.creation_date|date:"H:i" }}</span>
      </div>
      <div class="post-body">
        <h3>{{ post.title }}</h3>
        <div>
          {{ post.content|safe }}
        </div>
        <img src="{{ post.gif_url }}" alt="GIF do ambiente {{ post.environment_name }}" class="env-image"/>
        <div class="post-attributes">
          <table>
              <tr id="env-row">
                  <td>Ambiente</td>
                  <td>{{ post.environment_name }}</td>
              </tr>
              <tr id="actions-row">
                  <td>Número de ações</td>
                  <td>{{ post.actions_number }}</td>
              </tr>
          </table>
          {% if post.category_set.all %}
          <p>Incluso nas categorias:</p>
          <div class="link-columns">
            {% for category in post.category_set.all %}
            <div class="link-column">
              <a href="{% url 'environments:category-posts' category.id %}">
                <span class="material-icons">category </span> 
                {{ category.name }} 
              </a>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="link-columns">
        <div class="link-column">
          <a href="{% url 'environments:update' post.id %}">
            <span class="material-icons">edit </span>
            Editar
          </a>
        </div>
        <div class="link-column">
          <a href="{% url 'environments:delete' post.id %}">
            <span class="material-icons">delete </span>
            Apagar
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<hr>

<section>
    <header>
        <h3>
          <span class="material-icons">forum </span>
          Comentários
        </h3>
    </header>
    {% if post.comment_set.all %}
        {% for comment in post.comment_set.all|dictsortreversed:"date" %}
            <figure>
                <figcaption>
                  <span class="material-icons">account_circle </span>
                  {{ comment.author }}<br>
                  {{ comment.date|date:"j/m/y" }} às {{ comment.date|date:"H:i" }}
                </figcaption>
                <blockquote>
                    <span class="material-icons">chat </span>
                    {{ comment.text }}
                </blockquote>
            </figure>
            <br>
        {% endfor %}
    {% else %}
        <p>Não foi comentado nada sobre esse post. Adicione sua opinião sobre esse ambiente.</p>
    {% endif %}

    <a href="{% url 'environments:comment' post.pk %}"><button>Comente</button></a>
</section>
<br>
{% endblock content %}