{% extends 'base.html' %}
{% load static %}

{% block title %}
Editar Post
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_environments.css' %}">
{% endblock pagestyle %}

{% block content %}
<h2>Editar post {{ post.title }} do ambiente <i>{{ post.environment_name}}</i></h2>
<form method="POST" action="{% url 'environments:update' post.id%}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Atualizar</button>
</form>
{% endblock content %}