{% extends 'base.html' %}
{% load static %}

{% block title %}
Editar Post
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_environments.css' %}">
{% endblock pagestyle %}

{% block content %}
<h2>Editar post {{ post.title }} do ambiente <i>{{ post.environment_name}}</i></h2>
<form method="post" action="{% url 'environments:update' post.id%}">
  {% csrf_token %}
  <p>
    <label for="id_title">Título:</label>
    <input type="text" name="title" id="id_title" value="{{ post.title }}"/>
  </p>
  <p>
    <label for="id_environment_name">Ambiente:</label>
    <input type="text" name="environment_name" id="id_environment_name" value="{{ post.environment_name }}"/>
  </p>
  <p>
    <label for="id_actions_number">Número de ações:</label>
    <input type="number" name="actions_number" id="id_actions_number" value="{{ post.actions_number }}"/>
  </p>
  <p>
    <label for="id_content">Descrição do ambiente:</label>
    <input type="text" name="content" id="id_content" value="{{ post.content }}"/>
  </p>
  <p>
    <label for="id_gif_url">URL do gif do ambiente:</label>
    <input type="url" name="gif_url" id="id_gif_url" value="{{ post.gif_url }}"/>
  </p>
  <button type="submit">Atualizar</button>
</form>
{% endblock content %}