{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | Aprendizado por Reforço
    </title>
    <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block pagestyle %}
    {% endblock pagestyle %}
</head>

<body>
    <header id="staticpages-header">
        <h1>Aprendizado por Reforço</h1>
        <nav id="staticpages-nav">
            <ul>
                <li class="nav__item"><a href="{% url 'index' %}">
                    <span class="material-icons">home </span>
                    Home
                </a></li>
                <li class="nav__item"><a href="{% url 'theory' %}">
                    <span class="material-icons">book </span>
                    Teoria
                </a></li>
                <li id="algorithm-item">
                    <span class="material-icons">terminal </span>
                    Algoritmos
                    <div class="dropdown">
                        <a href="{% url 'greedy' %}">1. greedy</a>
                        <a href="{% url 'e-greedy' %}">2. ε-greedy</a>
                        <a href="{% url 'ucb' %}">3. UCB</a>
                    </div>
                </li>
                <li class="nav__item"><a href="{% url 'environments:index' %}">
                    <span class="material-icons">rocket </span>
                    Ambientes
                </a></li>
                <li class="nav__item"><a href="{% url 'environments:categories' %}">
                    <span class="material-icons">category </span>
                    Categorias
                </a></li>
            </ul>
        </nav>
    </header>
    <main id="staticpages-main">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="staticpages-footer">
        <p> Copyright 2023 Vítor Viana </p>
    </footer>
</body>

</html>